body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#canvas_container {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

body::after {
    content: '';
    display: block;
    height: 20vh;
}