body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loading {
    cursor: wait;
}

.tabs {
    position: absolute;
    left: 40%;
    top: 25%;
    border: 1px solid hsl(84, 41%, 70%)
}

input {
    width: 250px;
    height: 20px;
    background-color: 	hsl(230, 25%, 90%);
    border: 0;
    border-bottom: 2px hsl(84, 41%, 30%) solid;
    border-right: 1px hsl(84, 41%, 30%) solid;
    margin: 0 0 20px 20px !important;
}

button {
    margin: 0;
    border: 1px solid hsl(84, 41%, 90%);
    font-size: medium;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
}

button.active {
    background-color: hsl(84, 41%, 70%) !important
}
button:not(button.active) {
    background-color: hsl(84, 41%, 96%)
}

.content.active {
    visibility: visible !important;
}

.content {
    position: absolute;
    visibility: hidden;
    box-shadow: 2px 2px 10px gray;
    background-color: hsl(84, 41%, 95%);
    width: 400px;
}

.content * {
    margin: 20px;
}

label:not(.error) {
    margin: 0 0 0 20px !important;
}

.form {
    display: flex;
    flex-direction: column;
}

#signin, #signup {
    margin: 0 0 0 20px;
    border: 3px solid hsl(84, 41%, 50%);
    font-size: medium;
    width: 100px;
    background-color: hsl(84, 41%, 70%);
    box-shadow: 0 0 0 white;
}

#forgot {
    text-decoration: underline;
    color: #485ab3;
    cursor: pointer;
}

.name {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.name * {
    width: 50%;
    margin: 0 10px 0 0 !important;
}

.name *:last-child() {
    margin: 0 0 0 10px !important;
}

.fieldError {
    border: 1px solid red;
}

.error {
    margin: 0 0 0 20px;
    transform: translateY(-20px);
    color: red;
    font-weight: bold;
    visibility: hidden;
}

#ErrorMessage {
    width: 100%;
    background-color: rgba(255, 57, 57, 0.5);
    color: white;
    visibility: hidden;
}