body {
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

#searchResults {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 80vh;
    min-width: 12vw;
    max-width: 25vw;
    overflow: auto;
    resize: horizontal;
    box-shadow: 2px 2px 10px gray;
    background-color: hsl(84, 41%, 38%);
    margin: 20px 10px 0 0;
}

#searchResults img {
    display: inline-block;
    transform: translateY(5px);
}

input[type="text"] {
    margin: 10px 0 0 10px;
    max-width: 300px;
}

#insert:hover {
    scale: 1.1;
}

#insert:hover + .tooltip {
    visibility: visible;
}

#insert {
    margin: 10px;
    cursor: pointer;
}

.blurry {
    filter: blur(5px);
    pointer-events: none;
}

.tooltip {
    position: relative;
    visibility: hidden;
    width: fit-content;
    opacity: 0.9;
    padding: 5px;
    background-color: hsl(84, 41%, 38%);
    border: 1px solid black;
    border-radius: 10%;
    color: #DFF5CE;
    top: -5em;
    right: -4em;
}

.common {
    background-color: #DEE2FC;
    border-radius: 25%;
    margin: 10px;
    cursor: pointer;
}

#studyGroupResults {
    display: inline-block;
    width: 75vw;
    height: 80vh;
    box-shadow: 2px 2px 10px gray;
    margin: 20px 0 0 0;
    overflow-y: scroll;
}

h2, h4 {
    margin: 10px;
}

.studyGroupPopup {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 25%);
    top: 40%;
    right: 10%;
    background-color: hsl(84, 41%, 90%);
    padding: 10px;
    box-shadow: 5px 5px 5px lightgray;
    width: 80%;
}

.studyGroupPopup .controls {
    grid-column: 1;
    grid-row: 4;
}

.studyGroupPopup .controls #join,
.createStudyGroupPopup .form-group .create {
    background-color: green;
    border: none;
    color:hsl(84, 41%, 90%);
    height: 25px;
    cursor: pointer;
}

.studyGroupPopup .controls #cancel,
.createStudyGroupPopup .form-group .close {
    background-color: red;
    border: none;
    color:hsl(84, 41%, 90%);
    height: 25px;
    cursor: pointer;
}

.studyGroupPopup .controls *:hover,
.createStudyGroupPopup .form-group button:hover {
    scale: 1.1;
}

.studyGroupPopup img.close:hover {
    scale: 1.1;
}

.createStudyGroupPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    right: 10%;
    background-color: hsl(84, 41%, 97%);
    box-shadow: 5px 5px 5px lightgray;
    width: 80%;
    height: 55%;
}

.createStudyGroupPopup h2 {
    text-align: center;
}

.createStudyGroupPopup img.close {
    position: absolute;
    top: 10px;
    right: 2%;
    cursor: pointer;
}

.form-group {
    margin: 10px;
    padding: 10px 0 0 0;
}

.form-group input[type="text"] {
    width: 250px;
    height: 20px;
    background-color: 	hsl(230, 25%, 90%);
    border: 0;
    border-bottom: 2px hsl(84, 41%, 30%) solid;
    border-right: 1px hsl(84, 41%, 30%) solid;
}

.form-group .checkBoxRequired {
    visibility: hidden;
}

.form-group input[type="checkbox"]:checked ~ .checkBoxRequired {
    visibility: visible;
}

body::after {
    content: '';
    display: block;
    height: 20vh;
}