body {
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

#searchResults {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 80vh;
    min-width: 12vw;
    max-width: 25vw;
    overflow: auto;
    resize: horizontal;
    box-shadow: 2px 2px 10px gray;
    background-color: hsl(84, 41%, 50%);
    margin: 20px 10px 0 0;
}

#searchResults img {
    display: inline-block;
    position: absolute;
    top: 2%;
    right: 20%;
    cursor: pointer;
}

input[type="text"]#search {
    margin: 10px 0 0 10px;
    max-width: 300px;
}

#insert:hover {
    scale: 1.1;
}

#insert:hover + .tooltip {
    opacity: 1;
}

#insert {
    margin: 10px;
    cursor: pointer;
}

select {
    background-color: transparent;
    width: fit-content;
    font-size: large;
    border: none;
    appearance: none;
    outline: none;
    scroll-behavior: smooth;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: hsl(84, 41%, 38%);
}

.blurry {
    filter: blur(5px);
    pointer-events: none;
}

.tooltip {
    position: relative;
    width: fit-content;
    opacity: 0;
    padding: 5px;
    background-color: hsl(84, 41%, 38%);
    border: 1px solid black;
    border-radius: 10%;
    color: #DFF5CE;
    top: -5em;
    right: -4em;
    transition: all 1s ease-in-out;
}

.common {
    background-color: #DEE2FC;
    border-radius: 25%;
    margin: 10px;
    cursor: pointer;
}

#studyGroupResults {
    display: inline-block;
    position: relative;
    width: 75vw;
    height: 80vh;
    box-shadow: 2px 2px 10px gray;
    margin: 20px 0 0 0;
}

#studyGroupResults #controls {
    position: absolute;
    right: 50%;
    top: 2.5%;
}

#studyGroupResults #controls * {
    font-size: large;
    background-color: #525B88;
    border: 0;
    color:hsl(84, 41%, 94%);
    cursor: pointer;
}

.parameters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-indent: 30px;
}

.parameters * {
    width: fit-content;
}

h2, h4 {
    margin: 10px;
}

.studyGroupPopup {
    position: absolute;
    top: 35%;
    right: 10%;
    background-color: hsl(84, 41%, 90%);
    box-shadow: 5px 5px 5px lightgray;
    width: 80%;
    animation: popup 0.5s linear 1 forwards;
}

.studyGroupPopup * {
    width: fit-content;
}

.studyGroupPopup .context {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.studyGroupPopup .member_tooltip {
    position: absolute;
    background-color: hsl(84, 41%, 80%);
    right: 10%;
    padding: 10px;
    width: 180px;
    height: 140px;
    overflow: auto;
}

.studyGroupPopup .member_tooltip .title {
    position: relative;
    margin-top: 0;
    width: 100%;
    background-color: hsl(84, 41%, 38%);
    border: 0;
    text-align: center;
    color:hsl(84, 41%, 94%);
}

.studyGroupPopup .member_tooltip img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.studyGroupPopup .member_tooltip img:hover {
    scale: 1.1;
}

.studyGroupPopup .member_tooltip div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.studyGroupPopup h3 {
    width: 100%;
    text-align: center;
    background-color: #525B88;
    margin-top: 0;
    font-size: 30px;
    color:hsl(84, 41%, 94%);
}

.studyGroupPopup .controls {
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.studyGroupPopup .controls * {
    border: none;
    color:hsl(84, 41%, 90%);
    height: 25px;
    cursor: pointer;
}

.studyGroupPopup .controls :is(#join, #edit){
    background-color: green;
}

.studyGroupPopup .controls #cancel {
    background-color: red;
}

.studyGroupPopup .controls #leave {
    background-color: rgba(192, 8, 8, 0.8);
}

.studyGroupPopup .controls *:hover,
.studyGroupPopup img.close:hover,
.createStudyGroupPopup .close:hover,
.smallPopup .close:hover,
:is(.createStudyGroupPopup, .smallPopup) .controls *:hover,
.createStudyGroupPopup .times #insertMeeting:hover,
.smallPopup .form select:hover,
#studyGroupResults #controls *:hover,
#searchResults img:hover {
    scale: 1.1;
}

.createStudyGroupPopup { 
    position: absolute;
    background-color:hsl(84, 41%, 90%);
    top: 10%;
    left: 10%;
    width: 80%;
    height: 60%;
    box-shadow: 2px 2px 10px gray;
    animation: popup 0.5s linear 1 forwards;
}

.createStudyGroupPopup h2 {
    text-align: center;
}

.createStudyGroupPopup .close {
    cursor: pointer;
    position: relative;
    top: 5%;
    left: 95%;
}

.createStudyGroupPopup .form {
    text-indent: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}

input[type="text"] {
    width: 10vw;
    height: 20px;
    background-color: hsl(230, 25%, 90%);
    border: 0;
    border-bottom: 2px hsl(84, 41%, 30%) solid;
    border-right: 1px hsl(84, 41%, 30%) solid;
}

.createStudyGroupPopup .page {
    position: absolute;
    padding: 20px;
    margin: 30px;
    width: 80%;
    height: 70%;
    left: 10%;
}

.checkBoxRequired {
    visibility: hidden;
}

.createStudyGroupPopup .group input[type="checkbox"]:not(:checked) + .checkBoxRequired,
.smallPopup .group input[type="checkbox"]:checked + .checkBoxRequired {
    visibility: visible;
}

.createStudyGroupPopup .page {
    z-index: 5;
}

.createStudyGroupPopup .page:not(.active) {
    visibility: hidden;
    z-index: -1 !important;
}

.createStudyGroupPopup .controls {
    margin-inline: auto;
}

.createStudyGroupPopup .controls :is(#previous, #next) {
    background-color: #525B88;
    border: 0;
}

:is(.createStudyGroupPopup, .smallPopup) .controls * {
    cursor: pointer;
    font-size: 20px;
    color: #DEE2FC;
    border: 0;
}

:is(.createStudyGroupPopup, .smallPopup) .controls :is(.create, .save) {
    background-color: rgba(33, 180, 13, 0.8);
}

:is(.createStudyGroupPopup, .smallPopup) .controls .cancel {
    background-color: rgba(255, 57, 57, 0.8);
}

:is(.createStudyGroupPopup, .smallPopup) .controls .delete {
    background-color: rgba(192, 8, 8, 0.8);
}

.createStudyGroupPopup .times #title,
.createStudyGroupPopup .dates {
    text-indent: 10px;
}

.createStudyGroupPopup .dates p {
    text-indent: 0;
}

.createStudyGroupPopup :is(.startDate, .endDate) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: baseline;
    gap: 10px;
}

.createStudyGroupPopup :is(.startDate, .endDate) * {
    margin: 0;
    width: fit-content;
}

.createStudyGroupPopup .times #insertMeeting {
    position: absolute;
    width: 25px;
    aspect-ratio: 1 / 1;
    top: 18.5%;
    left: 18%;
    cursor: pointer;
}


.createStudyGroupPopup .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    max-height: 420px;
    overflow-y: scroll;
    margin-top: 30px;
}

.createStudyGroupPopup .cards .card {
    background-color:hsl(84, 41%, 94%);
    border: 1px transparent solid;
    border-radius: 25px;
    width: 200px;
    text-align: center;
}

.smallPopup { 
    position: absolute;
    z-index: 10;
    background-color:hsl(84, 41%, 94%);
    top: 25%;
    left: 50%;
    width: 30%;
    height: 20%;
    box-shadow: 2px 2px 10px gray;
    padding: 10px;
}

.smallPopup #weekDay {
    width: fit-content;
}

.smallPopup .day_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
}

.smallPopup #timeIdentifier {
    position: absolute;
    width: fit-content;
    bottom: 48%;
    right: 32%;
}

.smallPopup .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.smallPopup .form select:is(#hour, #month) {
    text-align: right;
}

.smallPopup .close {
    cursor: pointer;
    position: relative;
    top: 2%;
    left: 92%;
}

body::after {
    content: '';
    display: block;
    height: 20vh;
}

@keyframes popup {
    from { opacity: 0 }
    to { opacity: 1 }
}