div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 5px 5px 5px lightgray;
    margin: 20px 0 0 0;
    cursor: pointer;
    transition: all 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

div * {
    margin: 3px;
}

div:hover {
    box-shadow: 5px 5px 5px lightgreen;
    scale: 1.1;
}